.create-cont {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.5);
  @include flex-center;
  z-index: 1;

  .create {
    // @include flex-center;
    height: 450px;
    width: 700px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.5);
    display: grid;
    grid-template-rows: 76px 1fr 60px;
    // grid-template-columns: 100%;
    z-index: 100;
    header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px 24px;
      font-family: "Product Sans", "Roboto";
      border-bottom: 1px solid rgba($color: $svg-fill, $alpha: 0.2);
      h4 {
        font-weight: 300;
      }
      .label-btn {
        margin-left: 10px;
        font-weight: 100;
        color: $svg-fill;
        padding: 5px 9px;
        display: flex;
        align-items: center;
        border-radius: 20px;
        border: 1px solid rgba($color: $svg-fill, $alpha: 0.2);
        svg {
          margin-right: 5px;
          fill: $svg-fill;
        }
      }
    }
    form {
      display: grid;
      grid-template-rows: repeat(5, 1fr);
      padding: 10px 30px 20px 10px;
      border-bottom: 1px solid rgba($color: $svg-fill, $alpha: 0.2);
      .row {
        display: grid;
        grid-template-columns: 100px 1fr;
        align-items: center;
        // justify-items: center;
        .profile-pic {
          @include flex-center;
          .pic {
            background: $svg-fill;
            @include circle(48px);
          }
        }
        .icon {
          @include flex-center;
          svg {
            fill: $svg-fill;
          }
        }
        .input-fields {
          display: flex;
          align-items: center;
          height: 100%;

          label {
            display: flex;
            align-items: flex-end;
            flex: 1;
            position: relative;
            margin: 0px 5px;
            // padding: 5px;
            height: 100%;

            span {
              //   height: 100%;
              position: absolute;

              padding-bottom: 5px;
              color: $svg-fill;
              transition: 0.1s;
              transform-origin: bottom left;
              transition-timing-function: linear;
              pointer-events: none;
            }
            .focused {
              color: royalblue;
              top: 20%;
              transform: scale(0.8);
            }
            input {
              //   height: 100%;

              flex: 1;
              border: none;
              outline: none;
              border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
              padding-bottom: 5px;
              color: $svg-fill;
              background: transparent;
            }
            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            /* Firefox */
            input[type="number"] {
              -moz-appearance: textfield;
            }
          }
        }
        .phone {
          label:first-child {
            flex: 0.2;
          }
        }
      }
    }
    footer {
      width: 100%;
      display: grid;
      grid-template-columns: 200px 1fr 150px 150px;
      justify-items: center;
      align-items: center;
      a {
        text-decoration: none;
        color: #1a73e8;
        font-family: "Product Sans";
      }
    }
  }
}

#disabled {
  color: $svg-fill;
  pointer-events: none;
}
